* {
    box-sizing: border-box;
  }

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
}

nav {
    padding: 20px;
    background: #5486b4;
    color: #fff;
    border-bottom:30px #879274;
}

.timer {
    float: right;
    font-size: 16px;
}

.highscores {
    float: left;
    font-size: 16px;
}

header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
    border-bottom:30px #879274;
}

.start-Btn {
    font-size: 26px;
    height: 40px;
    line-height: 15px;
    margin-top: 25px;
}

h1 {
    font-size: 3.5em;
    text-align:center;
}

#questions {
    display: none;
}

#results {
    display: none;
}

#gameover {
    display: none;
}

#finalScore {
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-weight: bold;
}

#userName {
    margin: .5rem;
    height: 1.75rem;
}

#highScoreContainer {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#highScorePage {
    display: none;
    width: 50%;
    border: solid;
    border-color: silver;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    background: lightsteelblue;
}

#highscore-header {
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
}

#highscoreInitials {
    display: inline-block;
    padding-left: 9.5rem;
    font-weight: bold;
}

#highscoreScores {
    float: right;
    padding-right: 8.75rem;
    font-weight: bold;
}

li {
    padding-bottom: 3px;
    color: white;
    text-shadow: 1.5px 1px 3px black;
    list-style-type: none;
}

